@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HojeEuCaso</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <style>
        body {
    overflow-x: hidden;
 }

 .logoWeb{
     margin-top:25px;
     margin-left:60px;
 }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color:#312A25 !Important;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;
        
        
    }

    .logoMobile{
        margin-top:25px;
        margin-left: 20px;
    }

#wrapper.toggled span {
        visibility:hidden;
        
    }
  #wrapper.toggled   i {
 float:right;
 } 

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right:60px;
}

#wrapper.toggled {
    padding-right: 60px;
}

 #wrapper {
        padding-left: 20px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 140px;
        
        
    }
    
    #wrapper.toggled span {
        visibility:visible;
        position:relative;
        left:70px;
        bottom:13px;
        
    }

#wrapper span {
        visibility:hidden;
        
    }
  #wrapper.toggled   i {
 float:right;
 } 
 
  #wrapper   i {
 float:right;
 } 

    #page-content-wrapper {
        padding: 5px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
    </style>
</head>
<body>
    @{
        var usuarioLogado = HttpContextAccessor?.HttpContext?.Session.GetString("Nome");
    }

    @if (!string.IsNullOrEmpty(usuarioLogado))
    {
        @*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="~/images/logo-completo.png" alt="HojeEuCaso Logo" class="img-fluid" style="max-height: 70px;" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Nova" asp-action="Index">Nova Site</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header>*@

        <div class="container">
            <div class="row">
                <hr />

                <div id="wrapper">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav" style="margin-left:0;">
                            <li class="sidebar-brand" style="margin-bottom:100px">
                                <a class="navbar-brand logoWeb logoMobile" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/logo-completo.png" alt="HojeEuCaso Logo" class="img-fluid" style="max-height: 70px;" />
                                </a>
                                <a href="#menu-toggle" id="menu-toggle" style="float:right;">
                                    <i class="fa fa-bars" style="font-size:20px !important;" aria-hidden="true" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="margin-left:10px;">Home</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="margin-left:10px;">Contato</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Nova" asp-action="Index"><i class="fa fa-puzzle-piece" aria-hidden="true"></i><span style="margin-left:10px;">Nova Site</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Login" asp-action="Logout"><i class="fa fa-font" aria-hidden="true"></i><span style="margin-left:10px;">Sair</span></a>
                            </li>
                            @*<li>
                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="margin-left:10px;">Section</span></a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Login" asp-action="Logout"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="margin-left:10px;">Section</span></a>
                            </li>*@
                        </ul>
                    </div>
                    <!-- /#sidebar-wrapper -->
                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Conteúdo da página -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /#page-content-wrapper -->
                </div>
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HojeEuCaso - <a asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
