@page
@{
    var fornecedores = new List<object>
    {
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        new { Id = 1, Nome = "Nome", Email = "Email", Status = "Ativo", Tipo = "Pessoa Física", SolicitouExclusao = "false", MotivoExclusao = "motivo", IdDeIndicacao = 123, Avalicao = 10, Categoria = "Categoria" },
        
        // dados mockados pois não há modelo ainda
    };
}

<!DOCTYPE html>
<html>
<head>
    <title>Fornecedores</title>
</head>
<body>
    <div class="container mt-4" style="margin-left:10%">
        <h2>Fornecedores</h2>
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <a href="/Fornecedores/Create" class="btn btn-primary btn-sm float-right" style="margin-left: 5%;">
                        <i class="fas fa-plus"></i> Novo
                    </a>
                    <table id="listagem" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Seleção</th>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Tipo</th>
                                <th>Solicitou Exclusão</th>
                                <th>Motivo da Exclusão</th>
                                <th>ID de Indicação</th>
                                <th>Avaliação</th>
                                <th>Categoria</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var fornecedor in fornecedores)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selecao[]" value="@@fornecedor.ID">
                                        </td>
                                        <td>@@fornecedor.ID</td>
                                        <td>@@fornecedor.Nome</td>
                                        <td>@@fornecedor.Email</td>
                                        <td>@@fornecedor.Status</td>
                                        <td>@@fornecedor.Tipo</td>
                                        <td>@@fornecedor.SolicitouExclusao</td>
                                        <td>@@fornecedor.MotivodaExclusao</td>
                                        <td>@@fornecedor.IDdeIndicacao</td>
                                        <td>@@fornecedor.Avaliacao</td>
                                        <td>@@fornecedor.Categoria</td>
                                        <td>
                                            <a href="/Fornecedores/Edit/1" class="btn btn-primary btn-sm">
                                                <i class="fas fa-edit"></i> Editar
                                            </a>
                                            <button class="btn btn-danger btn-sm delete-button" data-fornecedor-id="1">
                                                <i class="fas fa-trash"></i> Excluir
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" style="width:80%; margin-left:10%">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Exclusão</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Tem certeza de que deseja excluir este registro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var table = new DataTable('#listagem', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
        },
    });

    $(document).ready(function () {
        $(".delete-button").click(function () {
            var fornecedor = $(this).data("fornecedor-id");

            $("#confirmDelete").data("fornecedor-id", fornecedor);
            $("#confirmDeleteModal").modal("show");
        });

        $("#confirmDelete").click(function () {
            var fornecedorId = $(this).data("fornecedor-id");

            // Envia uma solicitação AJAX para excluir o registro com o ID da cláusula
            $.ajax({
                type: 'POST',
                url: '/Fornecedores/Delete/' + fornecedorId, // Verifique se o URL corresponde à sua rota de exclusão
                success: function (response) {
                    // Lida com a resposta do servidor, por exemplo, atualiza a tabela de cláusulas
                    // Recarrega a página ou atualiza a tabela de cláusulas de alguma forma
                    // Usar o DataTables para atualizar a tabela após a exclusão bem-sucedida
                    table.ajax.reload(); // Isso atualiza a tabela usando DataTables

                    // Fecha o modal
                    $("#confirmDeleteModal").modal("hide");
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>







