/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Estilos do site
-------------------------------------------------- */
/*Estilo para fonte sutil*/ 
.greyFontStyle {
    font-size: 12px;
    color: grey;
}

/*Calendario*/
.calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 2px;
}

/*Dia do calendario*/
.day {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    height: 40px;
    font-size: 10px;
}

/*Dia de hoje do calendario*/
.today {
    background-color: lightcoral;
}

/* Efeito de hover */
.day:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.desktopCard {
    width: 40%;
    margin-left: 5%;
}

/* Estilos condicionais para dispositivos móveis */
@media (max-width: 768px) {
    .calendar {
        gap: 1px; /* Espaçamento menor para dispositivos móveis */
    }

    .day {
        font-size: 8px; /* Tamanho de fonte menor para dispositivos móveis */
        height: 30px; /* Altura menor para dispositivos móveis */
    }

    .mobileCard {
        width: 80%;
        margin-left: 17%;
    }
}